﻿<div ng-controller="TimeSheetCtrl">

    <style type="text/css">
        .add-timesheet-detail-wrap {
            margin-top: 10px;
            margin-left: 10px;
        }

        input {
            width: 50px;
        }

            input:focus, textarea:focus {
                background-color: lightyellow;
                border-color: green;
            }

        .TextBoxFocus {
            background-color: lightyellow;
            border-color: green;
        }

        .add-timesheet-hours-table tr:nth-child(2) {
            background-color: #f39c12;
            text-transform: uppercase;
        }

        textarea {
            border: 2px solid rgb(165, 165, 165);
            padding: 5px;
            width: 95%;
            border-radius: 3px;
            resize: none;
            height: 60px;
            margin-left: 6px;
        }

        .TSHeaderTop {
            background-color: lightgray;
        }
    </style>
    <!--sub menu bar start-->

    <div class="sub-navbar-one">
        <a href="#/TimeSheet/AddTimeSheet" class="sub-navbar-list underline active">Add </a><!--active class add to change btn color -->
        <a href="#/TimeSheet/ManageTimeSheet" class="sub-navbar-list underline">Manage</a>
        <a href="#/TimeSheet/ForApproval" class="sub-navbar-list underline">For Approval</a>
        <a href="#/TimeSheet/Approved" class="sub-navbar-list underline"> Approved</a>
    </div>
    <!--sub menu bar end-->
    <div class="add-timesheet-wrap" ng-nicescroll nice-option="{cursorwidth:'15px'}" nice-scroll-end="endScroll()">
        <form name="addTimeSheetForm" class="col-xs-12 no-padding">

            <div class="addtimesheet-status-bar"> <a href="#/TimeSheet/Status"><div class="addtimesheet-status-btn transition-3">Status</div></a></div><!--This status div need to show only when we are in manage mode, in add mode display none-->
            <div class="add-timesheet-detail-wrap">
                <div class="project-client-detail-left project-client-detail">
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Timesheet duration</p>
                        </div>
                        <div class="input-box height-28" ng-class="{ 'has-error' : CreateMeetingForm.meetingdate.$invalid && !CreateMeetingForm.meetingdate.$pristine }">
                            <input ng-change="changedate()" type="text" class="input-txt datedropper-here" id="meeting-date" readonly name="meetingdate" ng-click="openCalendar($event, 'TimesheetDate')" uib-datepicker-popup="dd/MM/yyyy" popup-placement="auto" ng-model="TimesheetDate.date" is-open="TimesheetDate.open" required enable-time="false" datepicker-options="TimesheetDate.datepickerOptions" close-on-date-selection="true" datepicker-append-to-body="true">
                            <i class="cal-icon">
                                <svg x="0px" y="0px" viewBox="0 0 22 18" style="enable-background:new 0 0 22 18;" xml:space="preserve">
                                <g>
                                <circle class="st4 transition-3" cx="16.5" cy="5" r="1.5" />
                                <circle class="st4 transition-3" cx="5.5" cy="5" r="1.5" />
                                <rect x="1" y="1" class="st2 transition-3" width="20" height="16" />
                                <line class="st2 transition-3" x1="1" y1="8.8" x2="21" y2="8.8" />
                                    </g>
                                </svg>
                            </i>
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Employee Name</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">

                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Billable</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>

                    <div class="add-timesheet-task-wrap" style="display:none">
                        <p class="copy-1">Tasks</p>
                        <div class="add-timesheet-task-detail-wrap">
                            @*task selection repetion div start*@
                            <div class="input-wrap clearfix">
                                <span class="add-timesheet-sno pull-left">1</span>
                                <span class="add-timesheet-task-input input-box">
                                    <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                                </span>
                            </div>
                            @*task selection repetion div end*@
                            <div class="input-wrap clearfix">
                                <span class="add-timesheet-sno pull-left">2</span> @*serial number span*@
                                <span class="add-timesheet-task-input input-box">
                                    @*task selection span*@
                                    <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                                </span>
                            </div>
                            @*task selection repetion div end*@
                            @*add another task div *@

                        </div>
                    </div>
                </div>

                <div class="project-client-detail-right project-client-detail">
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Project Name*</p>
                        </div>
                        <div class="select-box">
                            <ui-select ng-model="TimesheetData.project_id" name="ProjectName" required theme="bootstrap" class="btn-default1 error-input" ng-change="getResourceBasedOnProject(TimesheetData.project_id,TimesheetData.project_name)" ng-disabled="projectDropDown|| inv==1">
                                <ui-select-match required placeholder="Select or Search {{Proj_Name}}">{{$select.selected.project_name}}</ui-select-match>
                                <ui-select-choices repeat="project.project_id as project in Projects | filter: $select.search">
                                    <span ng-bind-html="project.project_name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            @*<div class="alert-red" ng-show="(CreateMeetingForm.ProjectName.$dirty || errorMsg) && CreateMeetingForm.ProjectName.$error.required">{{Proj_Name}} name is required field.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Project Manager</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Client   </p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 no-padding" style="width:98%">

                    <div class="add-timesheet-hours-table">
                        <div id="divTSConainerGrid" style="vertical-align: top">
                        </div>
                    </div>
                    <div style="float:right; color: #D35400" id="divMsg" class="copy-1 anim-lr"></div>
                </div>

                <div class="add-timesheet-btn pull-right" id="divTimeSheetbtn" style="display:none">
                    <!--uncomment while using this btn-->
                    @*<a class="save  transition-3 active my-popup " data-popup=".submit-popup">Submit</a>
                        <a class="save  transition-3 active my-popup " data-popup=".approved-popup">Approve</a>
                        <a class="save  transition-3 active my-popup " data-popup=".reject-popup">Reject</a>*@
                    <a class="save  transition-3 active" data-popup=".save-popup " ng-click="SaveTimeSheetGridData()">Save</a>
                    <a class="save  transition-3 active" data-popup=".submit-popup" ng-click="SubmitTimeSheetGridData()">Save & Submit</a>
                    <a class="reset reset-create-actionitem transition-3 my-popup" data-popup=".reset-popup">Reset</a><!-- end ngIf: create -->
                    <a class="cancel transition-3 my-popup" data-popup=".cancel-popup-ai">Cancel</a>
                </div>
            </div>


        </form>
    </div>
    <div class="popup-cover"></div>
    <div class="k-popup update-popup-ai">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been updated.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup cancel-popup-ai">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb cancel-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <line class="cls-1" x1="9" y1="29" x2="29" y2="9" />
                            <line class="cls-1" x1="9" y1="9" x2="29" y2="29" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">Are you sure you want to cancel?</p>
                <div class="btn-box anim-bt">
                    <div class="popup-btn yes-btn transition-3 " onclick="goBack();">Yes</div>
                    <div class="popup-btn no-btn close-popup transition-3">No</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup reset-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb reset-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="16.75 1.5 21.25 6.5 16.75 11.5" />
                            <path class="cls-1" d="M34,21.5a15,15,0,1,1-15-15" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">Are you sure you want to Reset?</p>
                <div class="btn-box anim-bt">
                    <div class="popup-btn yes-btn transition-3" ng-click="clearActionItems(1)">Yes</div>
                    <div class="popup-btn no-btn close-popup transition-3">No</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup Validate-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">Please select project name.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup save-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been saved.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup submit-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been submitted.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup approved-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been approved.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup reject-popup">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been rejected.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>

    <div class="k-popup Validate-Time">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr" id="idMSG">Input time has been rejected.<br />Please put time Numeric, less then 24 hours, Negative time not allowed</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>



</div>
