﻿<div ng-controller="ApprovedTimeSheetCtrl">
    <!--for page controller-->
    <!--sub menu bar start-->

    <div class="sub-navbar-one">
        <a href="#/TimeSheet/AddTimeSheet" class="sub-navbar-list underline ">Add </a><!--active class add to change btn color -->
        <a href="#/TimeSheet/ManageTimeSheet" class="sub-navbar-list underline">Manage</a>
        <a href="#/TimeSheet/ForApproval" class="sub-navbar-list underline active">For Approval</a>
        <a href="#/TimeSheet/Approved" class="sub-navbar-list underline"> Approved</a>
    </div>
    <div class="forapproval-timesheet-wrap" ng-nicescroll nice-option="{cursorwidth:'15px'}" nice-scroll-end="endScroll()">

        <form name="addTimeSheetForm" class="col-xs-12 no-padding">

            <div class="add-timesheet-detail-wrap">
                <div class="project-client-detail-left project-client-detail">

                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Time sheet  </p>
                        </div>
                        <div class="select-box">
                            @*<select>
                                    <option value="0" label="Please Select Pending Projects"></option>
                                    <option ng-repeat="Project in PendingProjects" value="{{Project.timesheet_id}}"
                                            ng-selected="{{ Project.Selected == true }}">
                                        {{Project.project_name}}
                                    </option>
                                </select>*@
                            <ui-select ng-model="PendingTimeSheet.timesheet_id" name="TimeSheet" required theme="bootstrap" class="btn-default1 error-input" ng-change="getTimeSheetOnChange(PendingTimeSheet.timesheet_id)" ng-disabled="projectDropDown|| inv==1">
                                <ui-select-match required placeholder="Select or Search {{Proj_Name}}">{{$select.selected.project_name}}</ui-select-match>
                                <ui-select-choices repeat="Project in PendingProjects | filter: $select.search">
                                    <span ng-bind-html="Project.project_name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Timesheet duration</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="duration">

                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>

                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Employee Name</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">

                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Billable</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>

                    <div class="add-timesheet-task-wrap" style="display:none">
                        <p class="copy-1">Tasks</p>
                        <div class="add-timesheet-task-detail-wrap">
                            @*task selection repetion div start*@
                            <div class="input-wrap clearfix">
                                <span class="add-timesheet-sno pull-left">1</span>
                                <span class="add-timesheet-task-input input-box">
                                    <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                                </span>
                            </div>
                            @*task selection repetion div end*@
                            <div class="input-wrap clearfix">
                                <span class="add-timesheet-sno pull-left">2</span> @*serial number span*@
                                <span class="add-timesheet-task-input input-box">
                                    @*task selection span*@
                                    <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                                </span>
                            </div>
                            @*task selection repetion div end*@
                            @*add another task div *@

                        </div>
                    </div>
                </div>

                <div class="project-client-detail-right project-client-detail">


                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Project Name</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Project Manager</p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">
                            <p>Client   </p>
                        </div>
                        <div class="input-box height-28">
                            <input type="text" class="input-txt datedropper-here" readonly name="employeedate">
                            @*<div class="alert-red" ng-show="CreateMeetingForm.meetingdate.$dirty && CreateMeetingForm.meetingdate.$error.required">Meeting date is required.</div>*@
                        </div>
                    </div>
                    <div class="input-wrap clearfix">
                        <div class="label-box">

                        </div>
                        <div class="input-box height-28">
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 no-padding" style="width:98%">

                    <div class="add-timesheet-hours-table">
                        <div id="divTSApprovedGrid" style="vertical-align: top">
                        </div>
                    </div>
                    <div style="float:right; color: #D35400" id="divApprovedMsg" class="copy-1 anim-lr "></div>
                </div>

                <div class="add-timesheet-btn pull-right" id="divApproveTimeSheetbtn">
                    @*style="display:none">*@
                    <!--uncomment while using this btn-->

                    <a class="save  transition-3 active" ng-click="ApproveTimeSheet()">Approved</a>
                    <a class="save  transition-3 active" ng-click="RejectTimeSheet()">Reject</a>
                    <a class="cancel transition-3 my-popup" data-popup=".cancel-popup-ai">Cancel</a>
                </div>
            </div>


        </form>
    </div>

    <div class="popup-cover"></div>
    <div class="k-popup Approved-popup-ai">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been Approved.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>
    <div class="k-popup Reject-popup-ai">
        <div class="popup-content translate-y">
            <div class="popup-inner">
                <div class="icon anim-tb save-svg-icon">
                    <div>
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
                            <polyline class="cls-1" points="35 9 14.69 29 3 17.48" />
                        </svg>
                    </div>
                </div>
                <p class="copy-1 anim-lr">TimeSheet has been Rejected.</p>
                <div class="btn-box anim-bt">
                    @*<div class="popup-btn yes-btn continue-editing transition-3 close-popup">Continue Editing</div>*@
                    <div class="popup-btn no-btn close-popup transition-3">Okay</div>
                </div>
            </div>
        </div>
    </div>
</div>