﻿
@{
    ViewBag.Title = "ErrorInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .side-nav {
        display: none;
    }
</style>
<div style="width:80%;border:1px solid red;height:500px">
    <h2 style="text-align:center">Error Info</h2>
    <div style="color:red;font-size:14pt;text-align:center">
        @if (Session["Minutes_ErrorInfo"]!=null)
        {
            @Session["Minutes_ErrorInfo"];
            Session.Contents.Remove("Minutes_ErrorInfo");
            
        }
    </div>
</div>

