﻿ @using New_Minutes.Models;
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Koordimate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Koordimate" />
    <meta property="og:description" content="Koordimate" />

    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/NewUi/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/NewUi/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/NewUi/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/NewUi/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/NewUi/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/NewUi/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/NewUi/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/NewUi/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/NewUi/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/NewUi/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/NewUi/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/NewUi/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/NewUi/icons/favicon-16x16.png">
    <link href="/Content/NewUi/css/perfect-scrollbar.min.css" rel="stylesheet" />


    <!--[if gt IE 7]>
        <link rel="stylesheet" type="text/css" href="/Content/NewUi/css/ie.css" />
    <![endif]-->

  

    <link href="/Content/NewUi/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Optional theme -->
    <link rel="manifest" href="/Content/NewUi/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/NewUi/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*start of non minified section*@
    <script src="/Content/NewUi/js/vendor/jquery-2.2.4.min.js"></script>
        @Html.IncludeVersionedJs("/Content/NewMinifiedUi/Thirdparty/js/underscore-min.min.js")

    <!-- Latest compiled and minified CSS -->
        @Html.IncludeVersionedCss("/Content/NewUi/css/normalize.css") 
        @Html.IncludeVersionedCss("/Content/NewUi/css/font.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/responsive.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/slick-theme.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/slick.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/main.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/StyleSheet1.css")
        @Html.IncludeVersionedCss("/Content/NewUi/css/fullcalendar.css")

        @Html.IncludeVersionedCss("/Content/NewUi/Thirdparty/css/pace.css")
        @Html.IncludeVersionedCss("/Content/NewUi/Thirdparty/css/select.css")
        @Html.IncludeVersionedCss("/Content/NewUi/Thirdparty/css/ui-grid.css")
     <!--javascript area-->
        @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/modernizr-2.8.3.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular.min.js") 
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/ngStorage.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-route.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-touch.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-animate.js")
        @Html.IncludeVersionedJs("/Content/NewUi/js/Lazy-scrolling.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-sanitize.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-checklist-model.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-aria.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-messages.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-material/angular-material.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-slick.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/ng-google-chart.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Angular/angular-confirm.js")

<!--Angular js custom written-->
        @Html.IncludeVersionedJs("/Scripts/Angular_Scripts/Minutes.js")
        @Html.IncludeVersionedJs("/Scripts/Angular_Scripts/TimelineController.js")
        @Html.IncludeVersionedJs("/Scripts/Angular_Scripts/ApproveTimeSheetController.js")

        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/ui-grid.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/underscore-min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/googlechart-docs.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/ui-bootstrap-tpls.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/csv.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/pdfmake.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/vfs_fonts.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/angular-file-upload-shim.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/select.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/angular-file-upload.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/moment.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/fullcalendar.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/calendar.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/gcal.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/lodash.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/angular-filter.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/angularjs-dropdown-multiselect.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/datetime-picker.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/angular-idle.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/pace.min.js")

   

        @Html.IncludeVersionedJs("/Content/NewUi/tiny/tinymce2.min.js")
        @Html.IncludeVersionedJs("/Content/NewUi/tiny/tinymce.js")
        @Html.IncludeVersionedJs("/Content/NewUi/tiny/tinymce-inline.js")

        @*new controllers*@

        

    @Html.IncludeVersionedJs("/Content/NewUi/js/slider-range.JS")
    @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/jsapi.js")
    @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/loader_charts.js")

    <!-- New Control Time Sheet-->
    @Html.IncludeVersionedJs("/Scripts/jquery-1.10.2.min.js")
    @Html.IncludeVersionedJs("/Scripts/TimeSheet/TimeSheet.js")
    @Html.IncludeVersionedJs("/Scripts/TimeSheet/tableHeadFixer.js")

    <script src="https://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
    <script>

    </script>

        <script>

            google.load("visualization", "1", { packages: ["corechart"] });

        </script>
        <base href = "/" >


        

</head>

<body ng-app = "minutesApp" >

    <div class="rotateTablet"></div>
 
    <header>
        <div class="logo-wrap">
           
                <div class="logo">

                </div>
                <div class="logo-txt white">KoordiMate</div>
          
        </div>

        <div class="right-header-wrap"  >
            @*<a href="" class="help transition-3">Help</a>*@
            <div class="user-detail" >
                <div class="profile-img" >
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 41">
                        <circle class="cls-1" cx="20.5" cy="14.5" r="4"></circle>
                        <path class="cls-1" d="M29.5,30.5a9,9,0,0,0-18,0Z"></path>
                        <path class="cls-2" d="M20.5,2.5a18,18,0,1,1-18,18,18,18,0,0,1,18-18m0-2a20,20,0,1,0,20,20,20,20,0,0,0-20-20Z"></path>
                    </svg>
                </div>
                <div class="user-name">
                    <p>username</p>
                    <span class="user-desig">user desig.</span>
                </div>
                <div class="dropdown-arrow transition-3">
                    <svg x="0px" y="0px" viewBox="0 0 18 10" style="enable-background:new 0 0 18 10;" xml:space="preserve">
                    <g>
                    <polyline class="st0 transition-3" points="17,1 9,9 1,1  " />
                        </g>
                    </svg>
                </div>
                        <div class="changepassword-logout-div transition-3">
                            <p></p>
                            <div class="changeassword-btn transition-3 changepassword" data-popup=".changepassword-popup">Change Password</div>
                            <div class="logout-btn transition-3">Logout</div>
                        </div>
            </div>
            <div class="user-level">Admin</div>

            <!-- Notification Button section

                Add '.active' class in '.notification-btn' class if there is notification(more than 0), else remove the .active class-->
            <div class="notification-btn active" >
                <i class="notif-icon" title="View Notifications" data-popup=".notification-notes-popup">
                    <svg viewBox="0 0 29 29">
                        <path class="cls-1 transition-3" d="M16.62,1.87H12.38V4.92A9.15,9.15,0,0,0,5.32,13.8v4.62L2.5,21.23v3.1h9.18a2.82,2.82,0,0,0,5.65,0H26.5v-3.1l-2.82-2.81V13.8a9.15,9.15,0,0,0-7.06-8.87ZM11.68,24.32h5.65M12.38,4.92a10.7,10.7,0,0,1,4.24,0" />
                        <path class="cls-2 transition-3" d="M11.68,24.32h5.65M12.38,4.92a10.7,10.7,0,0,1,4.24,0" />
                        <path class="cls-2 transition-3" d="M23.68,18.42V13.8a9.15,9.15,0,0,0-7.06-8.87H12.38A9.15,9.15,0,0,0,5.32,13.8v4.62L2.5,21.23v3.1h24v-3.1Zm-9-8A5.13,5.13,0,0,0,11,14.67a1.2,1.2,0,0,1-1.19,1H9.63a1.2,1.2,0,0,1-1-1.35A7.53,7.53,0,0,1,14,8.15a1.2,1.2,0,1,1,.65,2.31Z" />
                    </svg>
                </i>
                @*<div class="notif-count">7</div>*@
            </div>
            <!-- Notification Button Ends-->
        </div>

    </header>
    <!-- Header Ends-->

    <!-- Nav Bar -->
    <nav class="navbar" id="nav">
        <ul>
            <a href="#/Home/Dashboard" class="navbar-list "> <li class="active"> Dashboard</li></a>
            <a href="/#/Project/DisplayProject" class="navbar-list"> <li >Project</li></a>
            <a href="/#/Meeting/MeetingDetails" class="navbar-list  "><li>Meetings</li></a>
            <a href="/#/ActionItem/ActionItemsTile" class="navbar-list"> <li>Activities</li></a>
            <a href="#/Team/Vertical" class="navbar-list"> <li>My Team </li></a>
            <a href="#/TimeSheet/AddTimeSheet" class="navbar-list"> <li>Time Sheet</li></a>
            @*<a href="#/Setting/Alerts" class="navbar-list"> <li>Settings</li></a>*@
        </ul>
    </nav>

    <!-- Nav Bar Ends -->
    <!---Body Part Start-->
    <ng-view>


    </ng-view>
    <!--Body Part End-->
    <div class="popup-cover"></div>

   
  @Html.IncludeVersionedJs("/Content/NewUi/js/date-picker.js")
  @Html.IncludeVersionedJs("/Content/NewUi/Thirdparty/js/bootstrap.min.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/jquery.nicescroll.min.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/jquery.gsap.min.js") 
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/TweenMax.min.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/bezier-easing.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/plugins.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/main.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/display.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/jquerynicescroll.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/angular-nice.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/perfect-scrollbar.jquery.min.js")
  @Html.IncludeVersionedJs("/Content/NewUi/js/vendor/slick.min.js" )
  @Html.IncludeVersionedJs("/Content/NewUi/js/manage.js")

     


  
</body>

</html>
