﻿@{
    Layout = null;
}
<script type="text/ng-template" id="NotesModalContent.html">
    <style>
        .modal-dialog {
            left: 0 !important;
        }
    </style>

    <div class="modal-header modal-header-bg">
        <label class="label-bold" style="font-size:23px">Attachments</label>
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div style="max-height:224px; overflow-y: scroll;">
                    <table class="table table-bordered table-responsive table-striped data-table">
                        <thead style="background-color:#e9e9e9">
                            <tr>
                                <th class="col-md-3">File Name</th>
                                <th class="col-md-3">Uploaded By</th>
                                <th class="col-md-3">Uploaded Date</th>
                                <th class="col-md-4" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in attachments">
                                <td>{{file.file_name |limitTo: 30}}{{file.file_name.length < 30 ? '' : '...'}}</td>
                                <td>{{file.created_by}}</td>
                                <td>{{file.created_date}}</td>
                                <td>
                                    <a href="" ng-click="download(file.file_name,file.saved_name)" data-toggle="tooltip" data-placement="right" title="download">
                                        <img src="Content/Images/download-tray.png" />
                                    </a>
                                </td>
                                <td>
                                    <a href="" ng-click="confirmDelete(file.file_name,file.saved_name)" data-toggle="tooltip" data-placement="right" title="delete">
                                        <img src="Content/Images/delete.png" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <input type="file" ng-file-select="onFileSelect($files)" multiple class="col-md-6">
            <img ng-show="showLoading" src="Content/Images/ajax-loader.gif" class="col-md-1" />
            <p ng-show="showStatus" class="col-md-4">{{uploadMessage}}</p>


        </div>
    </div>
    <div class="modal-footer">
        <button ng-disabled="uploading" class="btn btn-primary" ng-click="save()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>




