﻿.navbar{
    position: relative;
    display: block;
    width: calc(100vw - 41px);
    height: 45px;
    margin: 0 auto;
    margin-top: 10px;
}
.k-popup,
.k-popup-2,
.popup-cover{
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(48, 66, 83,0.97);
    display: none;
}

.create-project-wrap {
    position: absolute;
    width: calc(100vw - 40px);
    height: calc(100vh - 240px);
    background-color: #fff;
    left: 20px;
    bottom: 20px;
    border-radius: 4px;
    top: 0px ;
}
  .aipoint1-data-row3{
         width: calc(57% - 60px) !important;
            display: inline-block;
        background: #fff;
        border-radius: 4px;
        margin-left: 10px;
        float: left;

       }